<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1026256291494-2fq8pv44b4sqjblj2dsma185roioiqcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026256291494-2fq8pv44b4sqjblj2dsma185roioiqcu</string>
	<key>API_KEY</key>
	<string>AIzaSyD_RvvyGDakj3z7b-SohyIAW_3V1o0kRGE</string>
	<key>GCM_SENDER_ID</key>
	<string>1026256291494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thexande.react-native-firebase</string>
	<key>PROJECT_ID</key>
	<string>cheersaroundtheworld-7545d</string>
	<key>STORAGE_BUCKET</key>
	<string>cheersaroundtheworld-7545d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026256291494:ios:6f28d0338033357b</string>
	<key>DATABASE_URL</key>
	<string>https://cheersaroundtheworld-7545d.firebaseio.com</string>
</dict>
</plist>